<%-include('../partials/header') %>
<hr/>
<div class="client-page">
    <%if (post.length>0) {%>
        <h2>Available Customer demand</h2>
        <% post.forEach(post => { %>
            <div class="post">
                <p>Subject: <a href="#"><%=post.subject%></a></p>
                <p>Deadline: <a href="#"> <%=post.deadline.toISOString().split("T")[0]%></a></p>
                <p>Offer-price: <a href="#"> <%=post.payment%></a></p>
                <p>Contact: <a href="#"> <%=post.phone%></a></p>
                <p>Description: <a href="#"> <%=post.description%></a></p>
                <a href="#" class="access-btn">Accept</a>
            </div>
        <%})%> 
    <%} else {%>
        <h2>Regret! No post has been made.</h2>
    <%}%>
    
</div>
